.display {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 350px;
    height: 250px;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 10px;
    background-color: #ecaa59;
}

.valueDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    height: 160px;
    margin: 10px 10px 10px;
    color: darkblue;
    border: 5px solid #8b8400;
    border-radius: 10px;
    background-color: yellow;

}

.button {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border: 5px solid #8b8400;
    width: 320px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: yellow;
}

.red {
    color: red;
    font-size: xxx-large;
    font-style: oblique;
}
